<!--freelanceer-->
{% extends "rango/navigation_bar.html" %}


<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
	<meta charset="utf-8">
	<meta view="viewport" content="width=device-width, initial-scale=1.0" >
	<title>Rango</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/custom1.css' %}">
	<link rel="stylesheet" href="{% static 'bootstrap/css/icons.min.css' %}">
</head>

<body>
	{% block body %}
	<!--row 1-->

	<section class="row" id="Start">
		<div class="container">
			<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
				<img src="{% static 'image/profile.png' %}" class="img-responsive img-circle center-block" style="margin-top:5em"/>
				<h1 class="text-center" style="margin-top:0.67em "><b>RANGO says</b></h1>
				<div class="text-center"><p align="center">Hey there partner!</p></div>
			</div>
		</div>
	</section>


	<!--row 2-->
	<section class="row" id="Portfolio">
		<div class="container">
			<div class="row  text-center">
				<h1><b>PORTFOLIO</b></h1>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class=" col-md-4 col-sm-4 col-xs-12"><img src="{% static 'image/cabin.png' %}" class="img-responsive btn btn-default"/></div>
				<div class=" col-md-4 col-sm-4 col-xs-12"><img src="{% static 'image/cake.png' %}" class="img-responsive btn btn-default"/></div>
				<div class="col-md-4 col-sm-4 col-xs-12"><img src="{% static 'image/circus.png' %}" class="img-responsive btn btn-default"/></div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class=" col-md-4 col-sm-4 col-xs-12"><img src="{% static 'image/game.png' %}" class="img-responsive btn btn-default"/></div>
				<div class="col-md-4 col-sm-4 col-xs-12"><img src="{% static 'image/safe.png' %}" class="img-responsive btn btn-default"/></div>
				<div class=" col-md-4 col-sm-4 col-xs-12"><img src="{% static 'image/submarine.png' %}" class="img-responsive btn btn-default"/></div>
			</div>
		</div>
	</section>

	<!--row 3-->
	<section class="row" id="About">
		<div class="row text-center">
			<h1><b>Categories and Pages</b></h1>
		</div>
		<div class="row">
			<div class="container">
				<div class="col-lg-2"></div>
				<div class="col-lg-4 col-md-12" id="category">
					<h3 class="text-center">MOST VIEWED CATEGORIES</h3>
					<p align="center">
						{% block category %}
						{% endblock %}
					</p>
				</div>
				<div class="col-lg-4 col-md-12" id="page">
					<h3 class="text-center">MOST LIKED PAGES</h3>
					<p align="center">
						{% block page %}
						{% endblock %}
					</p>
				</div>
				<div class="col-lg-2"></div>
			</div>
		</div>
		<div class="row text-center">
			<button class="btn btn-primary">
				<span class="glyphicon glyphicon-chevron-right"></span>
				<font size="4">Categories</font>
			</button>
		</div>
	</section>

	<!--row 4-->

	<section class="row" id="Contact">
		<div class="row text-center">
			<h1><b>CONTACT ME</b></h1>
		</div>
		<div class="row">
			<div class="container">
				<div class="col-lg-2 col-md-0"></div>
			
				<div class=" col-lg-8 col-md-12 input-group">
					<input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon2"/>
					<input type="text" class="form-control" placeholder="Email Address" aria-describedby="basic-addon2"/>
					<input type="text" class="form-control" placeholder="Phone Number" aria-describedby="basic-addon2"/>
					<input type="text" class="form-control" placeholder="Message" aria-describedby="basic-addon2"/>
					<div class="btn-group">
						<button type="button" class="btn btn-primary"><font size="4">Send</font></button>
					</div>
				</div>
			
				<div class="col-lg-2 col-md-0"></div>
			</div>
		</div>
	</section>


	<!--row 5-->
	<section class="row  text-center" id="Footer1">

				<strong><h3>
					<div class="col-md-4 text-center" style="margin-top: 5em;">LOCATION<br><br><p>3481 Melrose Place<br/>Beverly Hills, CA 90210</p></div>
					<div class="col-md-4 text-center" style="margin-top: 5em">AROUND THE WEB<br><br>
						<div>
							<button class="btn-social"><span class="fa fa-facebook "></span></button>
							<button class="btn-social"><span class="fa fa-google-plus"></span></button>
							<button class="btn-social"><span class=" fa fa-twitter"></span></button>
							<button class="btn-social"><span class="fa fa-linkedin"></span></button>
							<button class="btn-social"><span class="fa fa-dribbble"></span></button>				
						</div>
					</div>
					<div class="col-md-4 text-center" style="margin-top: 5em">ABOUT FREELANCER<br><br>
						<p style="padding-left: 100px; padding-right: 100px;">Freelance is a free to use, open source Bootstrap theme created by <a href="#" style="color:#18bc9c">Start Bootstrap</a>.</p>
					</div>
				</h3></strong>

	</section>

	<footer class="row text-center" id="Footer2">
			Copyright © Your Website 2016
	</footer>

	{% endblock %}

</body>
</html>