<!--index.html-->
{% extends "rango/freelanceer.html" %}

<!DOCTYPE html>
{% load staticfiles %}
<html>
<body>

		{% block category %}
			{% if category %}
			<ul>
				{% for c in category %}
				<li>
					<a href="/rango/category/{{c.slug}}/" style="color:#fff">{{c.name}}</a>
				</li>
				{% endfor %}
			</ul>
			{% else %}
			<br>
			There are no categories to show
			{% endif %}
		{% endblock %}



		{% block page %}
		{% if page %}
			<ul>
				{% for p in page %}				
			<li>
				<a href="{{p.url}}" style="color:#fff">{{p.title}}</a>
			</li>
				{% endfor %}
			</ul>
		{% else %}
		<br>
		There are no pages to show
		{% endif %}
		{% endblock %}

</body>
</html>